<%= @yogclass.name %>
<%= @yogclass.description %>
<%= @yogclass.price %>
<%= @yogclass.capacity %>
<%= @yogclass.date %>
<%= @yogclass.time %>
<%= @yogclass.address %>
<p>space: <%= @yogclass.capacity%> </p>

<%= render "bookings/form", yogclass: @yogclass, booking: @booking %>


