<%= @yogclass.name %>
<%= @yogclass.description %>
<%= @yogclass.price %>
<%= @yogclass.capacity %>
<%= @yogclass.date %>
<%= @yogclass.time %>
<%= @yogclass.address %>
<% spaces = @yogclass.capacity - @yogclass.bookings.count %>
<p>space: <%= @yogclass.capacity - @yogclass.bookings.count%> </p>

<% if spaces > 0 %>
<%= render "bookings/form", yogclass: @yogclass, booking: @booking %>
<% end %>

